@font-face {
    font-family: 'MyFont';
    src: url('./Yellowtail-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
.hello {
    color: red;
    font-family: 'MyFont';
    font-size: 40px;
  }